---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import FeaturedEvents from '../components/FeaturedEvents.astro';
import About from '../components/About.astro';
import Testimonials from '../components/Testimonials.astro';
import CallToAction from '../components/CallToAction.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Home">
  <Header />
  <main>
    <Hero />
    <FeaturedEvents />
    <About />
    <Testimonials />
    <CallToAction />
  </main>
  <Footer />
</Layout>